/*partials.scss*/

$body-font: 'Open Sans', baskerville ;
$primary-text: #A65899;
$header-font: 'Libre Baskerville', baskerville;
$secondary-text: #F2E205;
$highlight-text: #F2CB05;
$primary-background: #BF7E04;
$header-text-lg: 48px;
$header-text-md: 36px;
$header-text-sm: 24px;
