body {
    background-color: #ccc;
}
main {
  width: 80%;
  margin: 80px auto;
}

a {
  text-decoration: none;
}

.svg-flower {
  width: 300px;
  margin: 80px;
  animation-name: spinflower;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes spinflower {
  0% {
    transform: (0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.svg-words {
  width: 300px;
  margin: 80px;
  fill: #C478FF;
}

.button {
  background-color: rgba(255, 0, 0, 1);
  padding: 12px 20px;
  border-radius: 12px;
  color: #fff;
}

.button:hover {
  animation-name: button-hover;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-direction: alternate-reverse;
  border: 2px solid #f00;
}

/* Standard syntax */
@keyframes button-hover {
  0% {
  background-color: rgba(255, 0, 0, 1);
    }
  100% {
    background-color: rgba(255, 0, 0, 0);
    }
}
