body {
    background-color: #afd5d8;
}

main {
  width: 80%;
  margin: 80px auto;
}

a {
  text-decoration: none;
  align-content: center;
  font-size: 30px;
  font-family: inherit;
  color: #fff;
}


  .snow {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    animation-name: snow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    position: relative;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }

  /* Standard syntax */
  @keyframes snow {
   0%   {left:0px; top:0px;}
    100% {left:0px; top:200px;}
  }

.van {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
}
