/*
font-family: 'Merriweather', serif;
font-family: 'PT Serif', serif;
*/

body {
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Merriweather',serif;
}


h1 {font-family: 'PT Serif', serif;

}

.grid-demo section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

p {margin: 0;
}

.grid-demo div {
    border: 1px solid black;
    padding: 20px;
}

.grid-demo .feature {
  grid-column: 1/3;
  grid-row: 1/3;
  font-weight: 700;
}
